GCP_BUCKET_NAME=ia-motor-viajes-bucket-2026
GCP_PROJECT_ID=project-2f64a424-6541-4549-8e5# el ID real de tu proyecto
# GOOGLE_APPLICATION_CREDENTIALS=/app/gcp-key.json   # Comenta o elimina esta línea
